In [ ]:
##利用income。xlsx的数据，需要预测居民的年收入是否超过5万美元

In [ ]:
##2.2.1 数据的预处理

表2-1 美国某区域居民基本数据集
1.首先，观察数据集的结构，变量含义，变量类型
2.对数据集进行清洗，删除重复值，删除缺失值，删除异常值

In [4]:
#导入第三方包
import pandas as pd  #这是一个强大的数据处理库，提供了数据结构和处理数据的方法，用于数据分析。
import numpy as np  #这是一个用于数值计算的库，提供了各种数学函数和线性代数功能。
import seaborn as sns #这是一个基于matplotlib的可视化库，提供了更高级的可视化方法，用于数据可视化。


#数据读取
income=pd.read_excel(r'E:\Github\Python_Data_analysis-cleaning\Day 1\income.xlsx')

#查看是否存在缺失值
income.apply(lambda x:np.sum(x.isnull()))

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income               0
dtype: int64

缺失值的处理方式：
1.删除法->对于缺失的整一个观测值都要删除，比例小可以，但是比例大会删除有用信息，以及若是连续的数据，删除可能也会有问题

2.替换法->用一个常数去替换缺失值。（1）离散型，用众数;(2)数值型，可以考虑均值或者中位数。

3.插补法->利用未缺失的变量预测确实变量的值，如回归插补法，多重插补法，拉格朗日插补法。

In [7]:
#缺失值处理
#该缺失值的类型都为离散型变量
income.fillna(value={'workclass':income.workclass.mode()[0],
                     'occupation':income.occupation.mode()[0],
                     'native-country':income['native-country'].mode()[0],
},inplace=True)

In [9]:
#查看是否存在缺失值
income.apply(lambda x:np.sum(x.isnull()))

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

##2.2.2 数据的探索性分析
接下来对居民收入数据集进行简单的探索性分析，目的是为了了解数据背后的特征，如数据的集中趋势、离散趋势、数据形状和变量间的关系

基本统计值，如均值，中位数，众数

In [10]:
#数值型变量的统计描述
income.describe()

#个数（count）
#均值（mean）
#标准差（std）
#最小值（min）
#下四分位数(25%)
#中位数（50%）
#上四分位数（75%）
#最大值（max）

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
#离散型变量的统计描述
income.describe(include=['object'])


#个数（count）
#不同离散值的个数(unique)
#出现频次最高的离散值(top)
#出现频次最低的离散值(freq)

,workclass,education,marital-status,occupation,relationship,race,sex,native-country,income
count,32561,32561,32561,32561,32561,32561,32561,32561,32561
unique,8,16,7,14,6,5,2,41,2
top,Private,HS-grad,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,<=50K
freq,24532,10501,14976,5983,13193,27816,21790,29753,24720